body{
    margin: 0;
    padding: 0;
}
.wrapper{
    padding: 0 20px;
    margin: 0 auto;
    background-color: rgba(214, 213, 213, 0.829);
    font-family: 'Roboto', sans-serif;
    width: 90%;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
a {
    text-decoration: none;
}

/* ----------------------------------
This is Header Section Style
---------------------------------- */
header {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
   
}
#power-head{
    font-size: 25px;
}
.menu> nav> ul> li {
    list-style-type: none;
}
.menu> nav> ul {
    display: flex;
    flex-direction: row;
}
.menu> nav> ul> li {
     margin-right: 50px;
     font-size: 16px;
}
.fa-search, .fa-cart-plus{
    font-size: 25px;
    margin-right: 25px;
}

/*-----------------------------------------
             This is Intro Section Style
------------------------------------------*/

 #intro-head{
     font-size: 52px;
 }
.intro-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5%;
}
.intro-section> .intro-title{
    margin-right: 100px;
}
.intro-pic img{
    width: 250px;
    height: 150px;
}
#booking-btn{
    margin-bottom: 30px;
    background-color: tomato;
    padding: 10px 25px;
    border-radius: 25px;
    border-style: none;
}

/* ---------------------------------------
This is Company Logo Section Style
----------------------------------------- */
.company-logos{
    display: flex;
    flex-direction: row;
    /* margin-right: 20px; */
    justify-content: center;
    align-items: center;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    border-width: 60%;
    margin-bottom: 100px;
    margin-top: 50px;
}
.company-logos> .logo{
    display: inline-block;
    margin-right: 10px;
    width: 10%;
}

/*---------------------------------------
 This is Photo Gallery Section Style
 -------------------------------------- */
.photo-gallery> .photos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(2, auto); */
    column-gap: 10px;
    
}
.photo-gallery> .photos> .photo-item{
    margin-right: 10px;
}
.photo-gallery> .photos> img{
    width: 200px;
    height: 150px;
}
.photo-title{
    margin-top: 15px;
}
.photo-gallery{
    position: relative;
}
.photo-item> div{
    display: flex;
    flex-direction: column;
}
.photo-title> h2, .photo-product> p, .rating-star> p, .photo-descriptor> p{
    margin-top: 0;
    /* margin-bottom: 0; */
}
.product-value> p{
    font-weight: 400;
    font-size: 24px;
}
.rating-star{
    width: 150px;
    height: 32px;
}
.rating-star> p> i{
    color: tomato;
    font-size: 14px;
}
.photo-item> .rating-star{
    display: flex;
    flex-direction: row;
}
.photo-item> .rating-star> p{
    margin-right: 10px;
    margin-top: 0;
}
.photo-descriptor> p{
    width: 150px;
    color: #787885;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}
#read-more{
    position: absolute;
    right: 0px;
}
#read-more a{
    text-decoration: none;
}

/*---------------------------------------
        This is Services Section Style 
---------------------------------------*/
.landing-ur-dream> .services> ul> {
    display: flex;
}
.services> ul> li {
    list-style-type: none;
}

/*---------------------------------------
        This is Footer Section Style
--------------------------------------- */
.footer-section{
    position: relative;
    /* background-color: rgba(3, 2, 77, 0.932); */
    margin-top: ;
}
.footer-section> footer{
    position: absolute;
    width: 262px;
    height: 127px;
    left: 590px;
    font-weight: 700;
    line-height: 24px;
    background-color: rgba(3, 2, 77, 0.932);
}
.footer-section> footer> h1{
    font-size: 24px;
    font-weight: 900;
}