body{
    margin: 0;
    padding: 0;
}
.wrapper{
    margin: 0 auto;
    /* background-color: rgba(214, 213, 213, 0.829); */
    background-color:  rgba(216, 215, 215, 0.938);
    font-family: 'Roboto', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.wrapper> header, main{
    padding: 0 20px;
}
a {
    text-decoration: none;
}
.wrapper main{
    display: flex;
    flex-direction: column;
}
main p{
    font-size: 18px;
}

/* -----------------------------------------------
        This is Header Section Style
----------------------------------------------- */
header {
    /* display: grid;
    grid-template-columns: 1fr 3fr; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.head-title, .head-menu{
    margin-top: 5px;
}
.head-menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.head-title> #power-head{
    font-size: 16px;
    margin-top: 0;
}
.head-title> a{
    visibility: hidden;
}
.head-menu> ul> li {
    list-style-type: none;
}
.head-menu> ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
}
.head-menu> ul> li {
     font-size: 16px;
     margin-right: 4em;
}
.head-menu> ul> li> a {
     color: black;
}
.head-menu> .menu-icons{
    display: flex;
    justify-content: center;
    align-items: center;
} 
.menu-icons a{
    color: black;
}
.fa-search, .fa-cart-plus{
    font-size: 25px;
    margin-right: 1.5em;
}

/*------------------------------------------------
        This is Intro Section Style
------------------------------=======------------*/
.intro-section{
    display: grid;
    grid-template-columns: 60% 40%;
    margin-top: 100px;
}
.intro-stats h1, button{
    margin-right: 5em;
}
.intro-stats p{
    margin-right: 15em;
}
#intro-head{
    font-size: 52px;
}
#see-me-changed{
    margin-bottom: 0;
}
#intro-head #see-me-changed:hover{
    display: inline-block;
    transform:scale(1.2, 1.2);
    transition: transform 2s ease-in-out; 
    color: tomato;
}
.intro-pic img{
    width: 350px;
    height: 300px;
}
#booking-btn{
    margin-bottom: 30px;
    background-color:  #E02C6D;
    padding: 10px 25px;
    border-radius: 25px;
    border-style: none;
}
#booking-btn> a, .white{
    font-size: 16px;
    color: white;
    margin-left: 5px;
}

/* ---------------------------------------
This is Company Logo Section Style
----------------------------------------- */
.company-logos{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(212, 211, 211, 0.973);
    border-bottom: 1px solid rgba(212, 211, 211, 0.973); 
    margin-bottom: 100px;
    margin-top: 100px;
    padding: 15px 0;
}
.company-logos> .logo{
    display: inline-block;
    margin-right: 20px;
    width: 10%;
}

/*---------------------------------------
 This is Photo Gallery Section Style
 -------------------------------------- */
.photo-gallery{
    display: flex;
    flex-direction: column;
}
#gallery-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
#gallery-title h2{
    font-size: 30px;
}
.photo-album{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.photo-item{
    display:flex;
    flex-direction: column; 
    box-shadow: 0 0 10px 2px grey;
}
.photo img{
    width: 100%;
    height: 300px;
}
.photo-title{
    margin-top: 15px;
}
.photo-title> h2, .product-value> p, .rating-star> p, .photo-descriptor> p{
    margin-top: 0;
    padding-left: 5px;
}
.product-value> p{
    font-weight: 400;
    font-size: 24px;
    padding-left: 5px;
}
.rating-star> p> i{
    color: tomato;
    font-size: 14px;
}
.photo-item> .rating-star{
    display: flex;
    flex-direction: row;
}
.photo-item> .rating-star> p{
    margin-right: 10px;
    margin-top: 0;
}
.photo-descriptor> p{
    width: 150px;
    color: #787885;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}
.explore-more{
    margin-top: 40px;
    margin-left: auto;
} 
.explore-more a{
    text-decoration: none;
    color: #E02C6D;
}
#see-more .arrow-sign{
    margin-left: 5px;
}

/*---------------------------------------
        This is Services Section Style 
---------------------------------------*/
.landing-ur-dream{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
}
.services-details{
    margin-right: 5%;
    border-right: 3px solid grey;
    padding-right: 50px;
}
.services-details p{
    text-align: justify;
}
.landing-ur-dream> div> h2{
    font-size: 25px;
    font-weight: bold;
    color: orange;
}
.services> ul> li {
    list-style-type: none;
}
.services> ul> li a{
    font-size: 20px;
    font-weight: bolder;
    color: black;
}
.find-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.find-us h2{
    font-size: 25px;
    margin-bottom: 0;
}
.find-us p{
    font-size: 20px;
}

/*---------------------------------------
        This is Footer Section Style
--------------------------------------- */
 
footer{
    background-color: rgba(7, 0, 32, 0.925);
    margin: 0 0;
    padding: 30px 0;

}
footer> .copyright-stats{
    font-weight: 700;
    line-height: 24px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.copyright-stats h1, p{
    margin-top: 0;
    margin-bottom: 10px;
}
.copyright-stats h1{
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 2px;
}
.copyright-stats p{
    font-size: 16px;
}
.copyright-stats .sns-icons i {
    font-size: 20px;
    padding-right: 10px;
}

/*---------------------------------------------------
            This is Responsive Style
            For Mobile View
            Max-width:576px
--------------------------------------------------- */
@media only screen and (max-width:576px) {
    .wrapper> header, main{
        margin-top: 10px;
        margin-left: 5px;
    }
    header, .intro-section, .photo-album, .landing-ur-dream{
        display: flex;
        flex-direction: column;
    }
    #power-head{
        margin-top: 0;
        margin-left: 60px;
        margin-right: 70px;
    }
    .intro-section{
        margin-top: 30px;
    }
    .intro-pic img{
        width: 150x;
        height: 250px;
    }
    .intro-section .intro-stats{
        order: 2;
    }
    #intro-head{
        font-size: 30px;
        margin-right: 10px;
    }
    .intro-stats p{
        margin-right: 10px;
        text-align: justify;
    }
    .photo-gallery{
        margin-top: 50px;
    }
    .head-title{
        display: flex;
        justify-content: space-between;
    }
    .head-title> a{
        visibility: visible;
        color: black;
    }
    .head-menu{
        display: none;
    }
    .company-logos{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 10px;
        row-gap: 10px;
        margin-top: 30px;
        margin-bottom: 0;
    }
    .logo img{
        width: 50px;
    } 
    .landing-ur-dream{
        margin-top: 50px;
        margin-bottom: 0;
    }
    .services-details p{
        text-align: justify;
        margin-right: 20px;
    }
    .services> ul{
        margin-right: 20px;
        margin-left: 0;
    }
    .services> ul> li> a{
        text-align: left;
    }
    .find-us{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    .find-us h2{
        margin-bottom: 5px;
        font-size: 25px;
    }
    .find-us p{
        font-size: 18px;
    }
    .copyright-stats{
        margin: 30px auto;
    }
    .copyright-stats p:nth-of-type(1) {
        margin-bottom: 15px;
    }
    .copyright-stats .sns-icons{
        margin-top: 10px;
    }
}
/*---------------------------------------------------
            This is Responsive Style
            For Tablet View
            Min-width: 577px, Max-width: 768px
--------------------------------------------------- */
@media only screen and (min-width:577px) and (max-width:768px) {
    .wrapper> main{
        margin-top: 10px;
        margin-left: 5px;
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 30px;
    }
    .head-title{
        margin-right: 10px;
    }
    .head-menu{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 150px;
        margin-top: 5px;
    }
    .head-title> #power-head{
        font-size: 16px;
        margin-top: 0;
    }
    .head-menu> ul> li {
        list-style-type: none;
        margin-right: 20px;
    }
    .head-menu> ul {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }
    .intro-section{
        display: flex;
        flex-direction: row;
        margin-top: 0;
    }
    #intro-head{
        font-size: 30px;
        margin-right: 30px;
    }
    .intro-stats p{
        margin-right: 40px;
        text-align: justify;
    }
   
    .intro-pic img{
        width: 250px;
        height: 200px;
        position: relative;
        top: 50px;
        left: 20px;
        
    }
    .company-logos{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 10px;
        row-gap: 10px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .landing-ur-dream{
        margin-top: 30px;
        margin-bottom: 0;
    }
   .landing-ur-dream .services-details{
       border-right: 3px solid grey;
       padding-right: 20px;
       border-spacing: 10em;
   }
   .services-details p{
       text-align: justify;
   }
   .find-us{
       display: flex;
       flex-direction: column;
   }
   .find-us h2{
       margin-bottom: 0;
   }
}